:root{
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
.x2{
    position: fixed;
    top: 0px;
    width: 1550px;
    height: 90px;
    z-index: 1000;
    background-color: black;
}


.ul{
    background-color: black;
    overflow: hidden;
}
.a2{
    background-color: black;
}
.a12{
    position: relative;
    left: 100px;
    top: 10px;
    text-decoration: none;
    font-size: 20px;
    color: aqua;
    width: 120px;
    border: 2px solid black;
    padding:5px 10px 5px 10px;
    transition: 1s;
}
.a12:hover{
    position: relative;
    padding: 5px;
    width: 120px;
    border-radius: 30px;
    border: 2px solid rgb(198, 94, 224);
    padding:5px 10px 5px 10px;
    transition: 1s;
}
.a5{
    position: fixed;
    left:220px;
    top:70px;
    color: aquamarine;
    font-size: 10px;
    font-family:cursive;
}
.a111{
    position: absolute;
    left: 1100px;
    text-decoration: none;
    color: aqua;
    transition: 1s;
    cursor: pointer;
}
.a111:hover{
    position: absolute;
    color: beige;
    font-size:20px;
    transition: 1s;
    cursor: pointer;
}

.a112{
    position: absolute;
    left: 1200px;
    text-decoration: none;
    color: aqua;
    transition: 1s;
}
.a112:hover{
    position: absolute;
    color: beige;
    font-size:20px;
    transition: 1s;
}

.a113{
    position: absolute;
    left: 1300px;
    text-decoration: none;
    color: aqua;
    transition: 1s;
}
.a113:hover{
    position: absolute;
    color: beige;
    font-size:20px;
    transition: 1s;
}

.a11{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: wheat;
    position: fixed;
    top: 25px;
    display: flex;
    list-style: none;
}
.b1{
    color: rgb(146, 196, 237);
    position: absolute;
    top: 200px;
    left: 440px;
    font-size:40px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.b2{
    color: rgb(146, 196, 237);
    position: absolute;
    top: 214px;
    left: 462px;
    font-size:25px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.b3{
    color: rgb(146, 196, 237);
    position: absolute;
    top: 200px;
    left: 500px;
    font-size:40px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.b4{
    color: rgb(146, 196, 237);
    position: absolute;
    top: 214px;
    left: 523px;
    font-size:25px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.b5{
    color: aliceblue;
    position: absolute;
    left: 440px;
    top: 250px;
    font-family:cursive;
    font-size: 15px;
}


.night1{
    position: absolute;
    left: 1400px;
    top: 23px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 10px 5px 20px gray;
}
.b6{
    position:absolute;
    top:-6px;
    right:1px;
    color: black;
    font-size: 20px;
    display:inline;
}

.c1{
    position: absolute;
    top: 280px;
    color: rgb(146, 196, 237);
    left: 630px;
    font-size: 30px;
    font-family:cursive;
}
.c2{
    position: absolute;
    top: 295px;
    color: rgb(146, 196, 237);
    left: 660px;
    font-size: 15px;
    font-family:cursive;
}
.c3{
    position: absolute;
    top: 280px;
    color: rgb(146, 196, 237);
    left: 730px;
    font-size: 30px;
    font-family:cursive;
}
.c4{
    position: absolute;
    top: 295px;
    color: rgb(146, 196, 237);
    left: 748px;
    font-size: 15px;
    font-family:cursive;
}
.c5{
    position: absolute;
    top: 280px;
    color: rgb(146, 196, 237);
    left: 780px;
    font-size: 30px;
    font-family:cursive;
}
.c6{
    position: absolute;
    top: 295px;
    color: rgb(146, 196, 237);
    left: 807px;
    font-size: 15px;
    font-family:cursive;
}
.c7{
    position: absolute;
    top: 280px;
    color: rgb(146, 196, 237);
    left: 830px;
    font-size: 30px;
    font-family:cursive;
}
.c8{
    position: absolute;
    top: 295px;
    color: rgb(146, 196, 237);
    left: 843px;
    font-size: 15px;
    font-family:cursive;
}
.c9{
    /* position: absolute;
    top: 350px;
    left: 540px; */
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
}
.d1{
    position: absolute;
    left: 570px;
    top:350px ;
}
.d2{
    position: absolute;
    left: 440px;
    top:390px ;
}
.d3{
    position: absolute;
    left: 580px;
    top:430px ;
}
.d4{
    position: absolute;
    left: 650px;
    top: 470px ;
}
.c10{
    color: aliceblue;
    position: absolute;
    left: 720px;
    top: 580px ;
    border: 2px solid white;
    padding: 15px 30px 15px 30px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 700;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
}
.c10:hover{
    background-color: white;
    color: black;
    transition: 1s;
    cursor: pointer;
}
.c11{
    position: absolute;
    top:900px;
    color: aliceblue;
    left: 650px;
    font-size: 25px;
}
.c12{
    position: absolute;
    top:980px;
    left: 260px;
    width: 1000px;
    border: 2px solid white;
    transition: 2s;
    cursor: pointer;
}
.c12:hover{
    box-shadow: 10px 15px 50px 15px gray;
    transition: 0.5s;
    cursor: pointer;
}

.c13{
    position: absolute;
    border: 2px solid white;
    width: 1500px;
    height: 645px;
    top: 1700px;
}

.c14{
    color: rgb(146, 196, 237);
    position: absolute;
    top: 1800px;
    left: 600px;
    font-size: 40px;
    /* font-style: italic; */
    font-family:serif;
}
.c15{
    position: absolute;
    top: 1800px;
    left: 450px;

}
.c16{
    position: absolute;
    top: 2200px;
    left: 480px;
    font-size: 70px;
    font-family: monospace;
}
.e1{
    position: absolute;
    top: 1900px;
    left: 580px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.e2{
    position: absolute;
    top: 1950px;
    left: 680px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.c17{
    position: absolute;
    top: 2020px;
    left: 715px;
    text-decoration: none;
    color: rgb(68, 161, 202);
}

.c18{
    position: absolute;
    top: 2450px;
    left: 250px;
    font-size: 40px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.c19{
    position: absolute;
    top: 2510px;
    left: 410px;
    font-size: 40px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.c20{
    position:absolute;
    top: 3170px;
    left: 200px;
    color: aliceblue;
    font-size: 50px;
}
.c22{
    border: 2px solid white;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 3000px;
    left: 550px;
}
.c21{
    position: absolute;
    top: 3030px;
    left: 680px;
    color: white;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.c23{
    position: absolute;
    top: 3100px;
    left: 620px;
    color: white;
    background-color: black;
    font-size: 15px;
    border-color: rgb(13, 13, 14);
    border-bottom: 2px solid white;
    padding: 10px;
}

.c24{
    position: absolute;
    top: 3170px;
    left: 620px;
    color: white;
    background-color: black;
    font-size: 15px;
    border-color: black;
    border-bottom: 2px solid white;
    padding: 10px;
}
.c25{
    position: absolute;
    top: 3330px;
    left: 730px;
    color: white;
    background-color: black;
    font-size: 15px;
    border: 2px solid white;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
}
.c25:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

.c26{
    position: absolute;
    top: 3250px;
    left: 620px;
    background-color: black;
    width: 260px;
    height: 50px;
    color: white;
    text-align:justify ;
    font-size: 15px;
    padding: 5px;
}
.c27{
    position: absolute;
    top: 3528px;
    left: 750px;
    color: white;
    font-size: 20px;
    font-family: cursive;
}
